<%- if controller_name != 'sessions' %>
  <h4 class="title-background">登録済みの方はこちらからログインしてください。</h4>
  <div class="mt-3">
    <%= link_to "ログイン", new_session_path(resource_name), class: "btn btn-success" %><br />
  </div>
<% end %>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <div class="">
    <%= link_to "新規登録", new_registration_path(resource_name), class: "btn btn-primary" %><br />
  </div>
<% end %>