<h2>店舗一覧</h2>

<% @shops.each do |shop| %>
  <P>店舗ID</P>
  <span><%= shop.id %></span>

  <P>店舗名</P>
  <span><%= shop.shop_name %></span>

  <P>レビュー数</P>
  <span><%=  %></span>

    <P>いいね数</P>
  <span><%=  %></span>
<% end %>