<h2>レビューに対してのコメント一覧</h2>
<table>
  <tr>
    <th>コメントタイトル</th>
    <th>コメント内容</th>
  </tr>
  <tr>
    <% @comments.each do |comment| %>
    <td><%= comment.comment_title %></td>
    <td><%= comment.comment_body %></td>
    <% end %>
  </tr>
</table>