Public（ユーザー）側トップページ

<%= link_to "ゲストログイン（閲覧用）", users_guest_sign_in_path, method: :post %>
  <!--ゲストログイン用のリンク-->

      <% if user_signed_in? %>  <!--deviseのヘルパーメソッド、ログインしている時に「ログアウト」、ログインしていない時に「サインアップ」「ログイン」を表示-->
        <dif>ゲストログインでログインしている状態</dif>
      <% else %>
        <div>ゲストログインでログインしていない状態</div>
      <% end %>
