<div>店舗一覧</div>
<div><%= link_to "店舗一覧", admin_shops_path %> </div>
<div>会員一覧</div>
<div><%= link_to "会員一覧", admin_users_path %></div>
<div>レビュー一覧</div>
<div><%= link_to "レビュー一覧", admin_reviews_path %></div>