
多分使わない
<table>
  <tr>
    <th>店舗に対してユーザーからのいいね一覧</th>
  </tr>
  <%= %>
  <tr>
    <th>レビューID</th>
    <th>投稿日時</th>
    <th>会員名</th>
    <th>レビュータイトル</th>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <% end %>
</table>