<!--店舗側で表示するいいねの一覧画面-->

<div>現在ログインしているユーザーがいいねしている店舗の一覧を表示する</div>
<div>別ユーザーの一覧も表示したい（id指定で表示変更？）</div>
<table>
  <tr>
    <th>店舗名</th>
    <th>投稿日時</th>
  </tr>
  <tr>
    <% @favorite_reviews.each do |review| %>
    <td><%= review.shop.shop_name %></td>
    <td><%= review.review_title %></td>
    <td><%#= review.strftime("%Y年%-m月%-d日") %></td>
    <td><%#= render "public/favorites/favorite" %></td>
    <% end %>
  </tr>

</table>