<h2>お問い合わせ一覧</h2>
<table>
  <tr>
    <th>お問い合わせされた方の氏名</th>
    <th>お問い合わせタイトル</th>
    <th>お問い合わせ内容</th>
  </tr>
  <% @contacts.each do |contact| %>
  <tr>
    <td><%= contact._name %></td>
    <td><%= contact.contact_title %></td>
    <td><%= contact.contact_message %></td>
  </tr>
  <% end %>
</table>


