<h2>店舗に対してのレビュー一覧</h2>

<% @contacts.each do |contact| %>
  <p>お問い合わせされた方の氏名</p>
  <span><%= contact.contact_name %></span>

  <p>お問い合わせタイトル</p>
  <span><%= contact.contact_title %></span>

  <p>お問い合わせ内容</p>
  <span><%= contact.contact_message %></span>
<% end %>



