  <div id="stars">  </div>

  <script>
  let elem = document.querySelector('#stars');
  let opt = {
    starOff: '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    starHalf: '<%= asset_path('star-half.png') %>',
    scoreName: 'review[star]',
    readOnly: true
  };
  window.raty(elem, opt);
  </script>