<h2>レビュー一覧画面</h2>

<% @reviews.each do |review| %>
<table>
  <tr>
    <th>コメントタイトル</th>
    <td><%= review.review_title %></td>

    <th>コメント内容</th>
    <td><%= review.review_comment %></td>

    <td>
      <%= render "static.rate", review: review %>
    </td>

    <td>
      <%= link_to "コメントする",new_comment_path(review.id) %>
    </td>
  </tr>
</table>
<% end %>
